<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!--全局属性配置-->
	<settings>
		<!--使用jdbc的getGeneratedKeys获取数据库记录自增主键-->
		<setting name="useGeneratedKeys" value="true"/>
		<!--使用别名替换列名,默认就是开启的-->
		<setting name="useColumnLabel" value="true"/>
		<!--开启驼峰命名的转换-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<properties resource=""/>
	
	<typeAliases>
		<typeAlias type="" alias=""/>
	</typeAliases>
	
	<environments default="mysql_development">
		
		<environment id="mysql_development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${mysql.driver}"/>	
				<property name="url" value="${mysql.url}"/>	
				<property name="username" value="${mysql.username}"/>	
				<property name="password" value="${mysql.password}"/>	
			</dataSource>
		</environment>
		
		<environment id="oracle_development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${oracle.driver}"/>	
				<property name="url" value="${oracle.url}"/>	
				<property name="username" value="${oracle.username}"/>	
				<property name="password" value="${oracle.password}"/>	
			</dataSource>
		</environment>	
	</environments>
	
	<mappers>
		<mapper resource=""/>
	</mappers>
	
</configuration>