<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="db.properties"/>

	<!--全局属性配置-->
	<settings>
		<!--开启驼峰命名的转换-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="" alias=""/>
	</typeAliases>
	
	<environments default="mysql_development">
		<environment id="mysql_development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${mysql.driver}"/>	
				<property name="url" value="${mysql.url}"/>	
				<property name="username" value="${mysql.username}"/>	
				<property name="password" value="${mysql.password}"/>	
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<!-- 注解接口 -->
		<mapper class="com.wangtao.dao.UserMapper"/>
		<!-- xml映射文件 -->
        <mapper resource="mappers/UserMapper.xml"/>
	</mappers>
	
</configuration>